.errors {color: red}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.quantile_line {
  stroke: lightgray;
  stroke-width: 3;
  cursor: grab;
  opacity: .5;
}

.quantile_rect {
  cursor: grab;
  opacity: .1;

  stroke: lightgray;
  stroke-width: 25;
  stroke-opacity: 0;
}

.quantile_rect:hover {
  opacity: .5;
}

.pdf_quantile_line {
  stroke: lightgray;
  stroke-width: 3;
  opacity: .5;
}

.dataPointCross {
  stroke: black;
  stroke-width: .5;
}

.dataPointCircle{
  cursor: grab;
  fill-opacity: 0;
  stroke-width: 1px;
  stroke-opacity: 1;
}
.dataPointCircle:hover {
  stroke: black;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.dataInputForm{
  max-width: 20em;
  margin-bottom: 1em;
}

.distributionBox{
  display: flex;
  padding: 5px;
}

.left_pane {
  min-width: 20em;
  width: 22em;
}

.results_pane {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
}

.samples_container{
  max-width: 10em;
}
.samples {
  overflow-x: scroll;
  padding: 1em;
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.hover_circle {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.output_text{
   border: #cccccc 1px solid;
   padding: 5px;
   margin-top: 1em;
}

.hidden_field{
  display: none;
}

.metalog_options, .custom_domain_fields, .generalized_beta_options{
  margin-top: 1em;
  margin-bottom: 1em;
}

.metalog_bounds{
  margin-bottom: 1em;
}

.pair{
  border-radius: 3px;
  padding-left: 5px;
}

.AdjacentDivsField label{
  font-weight: bold;
  margin-right: 0.25em;
}

.AdjacentDivsField [fieldtype] {
  max-width: 100%;
  width: 100%;
}


#inputsOutputs {
  margin-bottom: 5em;
}

#examplesInstructions{
  margin-bottom: 2em;
}

#distribution99{
  padding: 0;
}

.pair, .metalog_options, .generalized_beta_options, #distribution1,#distribution2, .mixtureComponentOptions{
  display: none;  /*  hide by default, only show if JS changes this. Avoid flickering when page is loaded. */
}

.mixtureComponentOptions {
  display: flex;
}

.mixtureComponentOptions > :not(:last-child) {
  margin-right: 1em;
}

[fieldtype=mixture_component_weight] {
  width: 2em;
}

.material-icons{
  font-size: 1em;
  vertical-align: text-top;
}

.remove_pair_button {
  color: black;
}

.add_pair_button, .remove_distr_button, .addDistrButton {
  color: black;
  text-decoration: none;
}

.add_pair_button{
  margin-top: 1em;
  display: block;
}