<div>Leave feedback.
    <div>
        <form id="feedbackForm" action="https://formspree.io/f/moqrpgrz" method="POST">
            <style>
                .feedbackContainer{display: flex; align-items: flex-start; }
                .feedbackContainer > * {margin-right:1em; border-radius: 3px;}
                .emailField {margin-right: 1em; height: 32px; width: 30%}
                .hiddenField {display: none}
                .feedbackMsgField {height: 64px; width: 100%}
            </style>

            <div class="feedbackContainer">
                <textarea class="feedbackMsgField" name="message" id="message" required placeholder="message (required)"></textarea>
                <input class = "emailField" name="email" id="email" placeholder="email (optional)">

                <input class="hiddenField" name="url" value={{request.url}}>
                <button>Send</button>
                <div id="formStatus"></div>
            </div>
        </form>
    </div>
</div>

<script>
    var form = document.getElementById("feedbackForm");
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("formStatus");
      status.innerHTML = "Sending..."
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>