<div>Leave feedback.
    <div>
        <form id="feedbackForm" action="https://formspree.io/f/moqrpgrz" method="POST">
            <style>
                .feedbackContainer {
                    display: flex;
                    align-items: flex-start;
                }

                .feedbackContainer > * {
                    margin-right: 1em;
                    border-radius: 3px;
                }

                .emailField {
                    margin-right: 1em;
                    height: 32px;
                    width: 30%
                }

                .hiddenField {
                    display: none
                }

                .feedbackMsgField {
                    height: 64px;
                    width: 100%
                }
            </style>

            <div class="feedbackContainer">
                <textarea class="feedbackMsgField" name="message" id="message" required
                          placeholder="message (required)"></textarea>
                <input class="emailField" name="email" id="email" placeholder="email (optional)">

                <input class="hiddenField" name="url" value={{ request.url }}>
                <button>Send</button>
                <div id="formStatus"></div>
            </div>

            <div>
                This form is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </div>
        </form>
    </div>
</div>

{% set recaptcha_site_key = "6Ldcb54hAAAAANK0UneKZd3zVhYPHjTT0jWxqw9p" %}

<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<script>
    $(document).ready(function () {
        var form = document.getElementById("feedbackForm");
        var status = document.getElementById("formStatus");
        const error_message = "Oops! There was a problem submitting your form"
        form.addEventListener("submit", captcha)

        function captcha(event) {
            event.preventDefault()
            grecaptcha.ready(function () {
                grecaptcha.execute("{{ recaptcha_site_key }}", {action: 'submit'}).then(function (token) {

                    status.innerHTML = "Sending..."
                    var data = new FormData(form);
                    data.append("g-recaptcha-response", token)
                    fetch(form.action, {
                        method: form.method,
                        body: data,
                        headers: {
                            'Accept': 'application/json'
                        }
                    }).then(response => {
                        if (response.ok) {
                            status.innerHTML = "Thanks for your submission!";
                            form.reset()
                        } else {
                            response.json().then(data => {
                                if (Object.hasOwn(data, 'errors')) {
                                    status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                                } else {
                                    status.innerHTML = error_message
                                }
                            })
                        }
                    }).catch(error => {
                        status.innerHTML = error_message
                    });

                })
            })
        }
    })
</script>