{% macro render_field(field) %}
  <div>
      {{ field.label }}
      {{ field(**kwargs)|safe }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_field_nolabel(field) %}
  <div>
      {{ field(**kwargs)|safe }}
  </div>
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_checkbox(field) %}
  {{ field(**kwargs)|safe }} {{ field.label }}
  {% if field.errors %}
    <ul class=errors>
    {% for field_w_error in field.errors %}
        {% for error in field.errors[field_w_error] %}
        <li>{{ error }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
