<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://makedistribution.com/">
<meta property="og:image" content="{{url_for('static', filename='meta-tag-image.png', _external=True) }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://makedistribution.com/">
<meta property="twitter:image" content="{{url_for('static', filename='meta-tag-image.png', _external=True) }}">
