<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
    <meta charset="UTF-8">
    <title>Elicit probability distributions from quantiles</title>
    <link rel="stylesheet" href= {{url_for('static', filename='styles.css') }}>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
{% from "_formhelpers.html" import render_field, render_field_nolabel, render_checkbox %}

<div class="flexbox">
<div id="left_pane">
    <form method="POST" id="dataInputForm">
    <div>
        {{render_field(form.family,onchange="displayDistributionSpecificOptions(),
                                            submitForm()
                                            ") }}

        {% if form.nb_pairs_to_display_hidden_field.errors %}
            <ul class=errors>
                {% for error in form.nb_pairs_to_display_hidden_field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="hidden_field">{{form.nb_pairs_to_display_hidden_field(onchange="display_nb_pairs()")}}</div>
    </div>

    <div style="margin-bottom: 1em"><a id="add_pair_button" href="javascript:addPair()">Add pair</a></div>
    {% for pair in form.pairs %}
    <div class="pair" id = {{'pair' ~ loop.index}}>
        Pair {{loop.index}}
        <a class="remove_pair_button" href="javascript:removePair({{loop.index}}-1)">Remove</a>
        {{render_field_nolabel(pair)}}
    </div>
    {% endfor %}

    <div id="custom_domain_fields">
        {{ render_checkbox(form.plot_custom_domain_bool, onchange="display_conditional_fields('plot_custom_domain_bool','plot_custom_domain_FromTo')")}}
        {{ render_field_nolabel(form.plot_custom_domain_FromTo)}}
    </div>

    <div id='metalog_options'>
        {{render_checkbox(form.metalog_boundedness, onchange="display_conditional_fields('metalog_boundedness','metalog_bounds')")}}
        <div id="metalog_bounds">
            You may specify both bounds, or just one bound for a semi-bounded distribution.
            {{render_field_nolabel(form.metalog_bounds)}}
        </div>
        <div>
        {{render_checkbox(form.metalog_allow_numerical)}}
            <div class = 'tooltip'>
                More info.
                <div class="tooltiptext">If there is no valid metalog for your inputs, this checkbox will allow the application to attempt to find the metalog
                that minimizes the sum of square differences between the metalog CDF and your inputs. This is slower. </div>
            </div>
        </div>

        <br> A distribution with a high degree of shape flexiblity, allowing it to often fit your inputa data
        exactly or very closely. It can be unbounded, bounded, or semi-bounded.
        First described in <a href="http://www.metalogdistributions.com/images/The_Metalog_Distributions_-_Keelin_2016.pdf">
        Keelin 2016</a>.

    </div>
    <div id='generalized_beta_options'>
        {{render_field(form.generalized_beta_bounds)}}
        <br> A four-parameter generalization of the Beta, with PDF:
        $$ f(x) = \frac{\left(\frac{x-c}{d-c}\right)^{\alpha-1}  \left(1-\frac{x-c}{d-c}\right)^{\beta-1}}{(d-c)\mathrm{B}(\alpha,\beta)}$$
        Where \(c\) is the lower bound and \(d\) is the upper bound.

        See for example <a href="https://www.google.com/search?q=Nadarajah+and+Gupta+Handbook+of+Beta+Distribution">
        Nadarajah and Gupta 2004</a>, Chapter 5, Section VII, p. 116.
    </div>


    <div><input type="submit"> </div>
</form>

<div id="example"><a href="javascript:displayMetalogExample()">Click here to see a metalog example</a></div>
<div id="example"><a href="javascript:displayGenBetaExample()">Click here to see a generalized beta example</a></div>

<p>Pro tip: use the browser's forward and back buttons to navigate your result history.</p>

{% if distribution %}
<div id="output_text">
        {%for i in distribution.description%}
            <div>{{i}}</div>
        {%endfor%}

        {%for i in distribution.errors%}
            <div class="errors">{{i}}</div> <a href="javascript:window.history.back()">Go back.</a>
        {%endfor%}
</div>
{% endif %}


<div>
    {% if plot %}
        <p><i>How to use the plot:
            <ul>
            <li> You can <b>drag</b> horizontal and vertical lines.
            <li> <b>Shift-drag</b> any line to move all lines at the same time.
            <li> <b>Alt-drag</b> any line to move all <span style="font-style:normal">greater</span> lines at the same time.
            <li> <b>Alt-Shift-drag</b> any line to move all <span style="font-style:normal">lesser</span> lines at the same time.
            <li> <b>Hover</b> over a point to display a draggable circle representing that point.
            <li> <b>Alt-click</b> a point to remove it.
            <li> <b>Shift-click</b> on an empty area to add a point.
            </ul>
        </i></p>
    {% endif %}
</div>
</div>

<script src={{url_for('static', filename='index.js') }}></script>

<div id="results_pane">
    {% if plot %}
        <div>{{plot|safe}}</div>
    {% endif %}
    <!--plot.js needs to be after the plot, so that the JSONs we pass to plot.js are defined-->
    <script src={{url_for('static', filename="plot.js")}}></script>

{% if samples %}
<div id="samples_container">
    {{ distribution.n_samples }} random samples:
    <pre id="samples">{{samples}}</pre>
    <div class="flexbox">
        <button onclick="copySamplesClipboard()">Copy to clipboard</button>
        <div style="padding-left: 1em" id="copySamplesResult"></div>
    </div>
</div>
{% endif %}
</div>

</div> {# Close the flexbox#}

<br><div>
    By <a href='https://tadamcz.github.io/'>Tom Adamczewski</a>.
    Code <a href='https://github.com/tadamcz/elicitor'>on GitHub</a>.
    Got feedback? I'd love to hear it: <a href="mailto:tmkadamcz@gmail.com">tmkadamcz@gmail.com</a>
</div>

</body>
</html>